#В данном боте использовалась библиотека:
PyTelegramBotApi или telebot

#Не самая продвинутая, но довольно удобная и простая в освоении библиотека
#Устанавливается командой: pip install pyTelegramBotAPI
